<div ng-controller="GotyaaController">
  <form name="gotYaaForm" ng-submit="submit()" ng-controller="GotyaaController" novalidate>
    <h2>Add Message</h2>
    <br>
    <input type="text" name="smsContent" placeholder="type your message here" ng-model="smsContent" required>
    <br>
    <span class="error" ng-show="gotYaaForm.content.$error.required">Required!</span><br>
    <br>
    <span ng-bind="smsContent"></span>
    <br>
    <input type="submit" id="submit" value="Submit" /> 

    <p> You have {{messages.length}} GotYaas</p>
    
    <li ng-repeat="message in messages">
      <h2>{{message}}</h2>

      <button ng-click="removeMessage(message)">Delete GotYaa</button>
      <ng-include src="'_addRecipient.html'"></ng-include>
      
      <button>Send GotYaa</button>
    </li>
  </form> 
</div>
<div ng-controller="SentGotyaaController">
  <ng-include src="'_sentGotyaaStatus.html'"></ng-include>
</div>






 