<div ng-controller="GotyaaController">
  <form name="gotYaaForm" ng-submit="submit()" ng-controller="GotyaaController" novalidate>
    
    <!-- form to add content to a new message -->
    <h2>Add Message</h2>
    <br>
    <input type="text" name="smsContent" placeholder="type your message here" ng-model="smsContent" required>
    <br>
    <span class="error" ng-show="gotYaaForm.content.$error.required">Required!</span><br>
    <br>
    <span ng-bind="smsContent"></span>
    <br>
    <input type="submit" id="submit" value="Submit" /> 

    <!--show messages that have been added but not sent   -->
    <p> You have {{messagesPending.length}} pending GotYaas</p>

    <div ng-repeat="message in messagesPending">
      <h2>{{message}}</h2>
      <button ng-click="removeMessage(message)">Delete GotYaa</button>
      <button ng-click="saveMessage(message, <%= current_user.id %>)">Save GotYaa</button>
      <button ng-click="addRecipient(message)">Add Recipients</button>
    </div>
  </form> 
  



<!-- status from database -->
</div>
<h2>GotYaa Status</h2>
Current User Id: <%= current_user.id %>
<div ng-controller="SentGotyaaController">
  
  <!-- gotYaas from the database -->
  <div ng-mouseover="thisGotyaa(Resource.id, Resource.content)" ng-repeat="Resource in savedGotYaas| filter:{ user_id: <%= current_user.id %>}">
    <h3>{{Resource.content}}</h3> 
    date: {{Resource.created_at | date: format: medium}}


    <li ng-repeat="Resource in recipients | filter: {got_yaa_id: Resource.id } | orderBy: 'created_at':true">
      {{Resource.name}}
      {{Resource.message_sent}}
      {{Resource.has_responded}}
    </li>

    <!-- form to add recipient -->
    <div>
      <ng-include src="'_addRecipient.html'"></ng-include> 
    </div>
  </div> 
</div>








 