<div ng-controller="GotyaaController">
  <form name="gotYaaForm" ng-submit="submit()" ng-controller="GotyaaController" novalidate>
    
    <!-- form to add content to a new message -->
    <h2>Add Message</h2>
    <br>
    <input type="text" name="smsContent" placeholder="type your message here" ng-model="smsContent" required>
    <br>
    <span class="error" ng-show="gotYaaForm.content.$error.required">Required!</span><br>
    <br>
    <span ng-bind="smsContent"></span>
    <br>
    <input type="submit" id="submit" value="Submit" /> 

    <!--show messages that have been added but not sent   -->
    <p> You have {{messages.length}} pending GotYaas</p>

    <div ng-repeat="message in messages">
      <h2>{{message}}</h2>
      <button ng-click="removeMessage(message)">Delete GotYaa</button>
      <button>Send GotYaa</button>
      <button>Add Recipients</button>
    </div>
  </form> 
  
  <!-- form to add recipient -->
  <div>
    <ng-include src="'_addRecipient.html'"></ng-include> 
  </div>

<!-- status from database -->
</div>
<h2>GotYaa Status</h2>
<div ng-controller="SentGotyaaController">
  <ng-include src="'_sentGotyaaStatus.html'"></ng-include>
</div>






 