<% if user_signed_in? %>
  <li class="divider"></li>
  <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
  <li class="divider"></li>
  <li><%= link_to('View Roger Thats', main_index_path) %></li>
<% else %>
  <li class="divider"></li>
  <li><%= link_to('Register', new_user_registration_path)  %></li>
<% end %>


