<div ng-controller="RecipientsController">

  <form name="recipient" ng-controller="RecipientsController" ng-submit="submitRecipient()" novalidate>

    <h4>Add Recipient</h4>
    <input ng-model="recipient.name" placeholder="name" type="text" required>
    <input ng-model="recipient.phone_number" placeholder="number" type="number" required>
    <br>
    <span ng-bind="recipient.name"></span> 
    <span ng-bind="recipient.phone_number"></span> 
    <br>
    <input type="submit" id="submit" value="Add Name"/> 

    <li ng-repeat="recipient in recipients">
      {{recipient.name}}{{recipient.phone_number}}
    </li>
  </form>
</div> 